#Eclipse
.classpath
.project
.settings/

#Intellij
.idea/
*.iml
*.iws
target/


#Mac
.DS_Store

#Maven
log/
*.log
target/
*.class

#Packages#
*.jar
*.war
*.ear

*.json
!stencilset.json
